<%-include('templates/head')%>
<link rel="stylesheet" href="./css/home.css">
</head>

    <body>        
        <!-- ID Particles.js -->
        <div id="particles-js"></div>
        <%-include('templates/header')%>
        <div class="container">Welcome to Games</div>
        <!-- JS Particless.js -->
        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
        <script src="./js/particles.js"></script>
    </body>

    </html>