
<div id="menu">
    <label> New Game </label>
    <button id= "newButton" onclick="newGame()"> New Game </button>
    <form>
        <label> Join Game </label>
        <input type= "text" id= "joinId">
        <input type="button" id= "joinButton" value="OK" onclick="joinGame()">
    </form>
</div>